<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/styles/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        {{> nav}}

        <div class="header_section text-center">
            <h1>I am Krish raj Fullstack Web Developer.</h1>
            <p>Hello there! I'm Krish Raj, a passionate Fullstack Web Developer who crafts elegant and efficient solutions for the digital world. With a keen eye for detail and a love for creativity, I design and code beautifully simple things that leave a lasting impact.</p>
            <img src="public/images/xyz.png" alt="hero">
        </div>

        <div class="hero_section" id="home">
            <img src="public/images/hero-devices.svg" alt="hero image" width="500px">
            <div class="bg-primary p-5 text-center text-light">
                <h2>Hi, I’m Krish. Nice to meet you.</h2>
                <p>A passionate Fullstack Web Developer weaving the technical with the artistic to craft digital 
                    masterpieces. Driven by the pursuit of perfection, I fuse innovative design with robust coding to build seamless and scalable web applications. With each line of code and pixel-perfect design, I strive to create exceptional experiences that are not only visually stunning but also intuitively functional. Let’s embark on a journey to transform your visionary ideas into reality, one click at a time."</p>
            </div>
        </div>
        <div class="row card_state">
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Fullstack Web Developer</h4>
                        <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
                    </div>

                    <div class="card-body text-center">
                        <h5 class="text-primary">Languages I speak:</h5>
                        <p>HTML,Javascript, CSS, Git</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Development  Tools:</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Node js</li>
                            <li class="list-group-item">Express js</li>
                            <li class="list-group-item">Bootstrap</li>
                            <li class="list-group-item">MongoDB</li>
                            <li class="list-group-item">Github</li>
                            <li class="list-group-item">VS code</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Progamming Languages</h4>
                        <p>The best way to predict the future is to implement it.</p>
                    </div>

                    <div class="card-body text-center">
                        <h5 class="text-primary">Languages I Know:</h5>
                        <p>Specialised in:</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Development Languages:</h6>
                        <ul class="list-group list-group-flush mb-0">
                            <li class="list-group-item">HTML/CSS</li>
                            <li class="list-group-item">Javascript</li>
                            <li class="list-group-item">python</li>
                            <li class="list-group-item">JAVA</li>
                            <li class="list-group-item">C/C++</li>
                            <li class="list-group-item">My SQL</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Soft Skills</h4>
                        <p>The ability to communicate effectively is the most important skill you can have in life.</p>
                    </div>

                    <div class="card-body text-center">
                        <h5 class="text-primary">My Soft Skills are:</h5>
                        <p> Communication, Teamwork, Adaptability</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Skill Set:</h6>
                        <ul class="list-group list-group-flush ">
                            <li class="list-group-item">Analytical Thinking</li>
                            <li class="list-group-item">Public Speaking</li>
                            <li class="list-group-item">Time Management</li>
                            <li class="list-group-item">Teamwork</li>
                            <li class="list-group-item">Sociability</li>
                            <li class="list-group-item">Etiquette and good manners</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="service text-center" id="service">
            <h2>Our Service</h2>
            <p>"Welcome to my development portfolio, where each project showcases my commitment to creating intuitive, high-quality project experiences that captivate users."</p>
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/appdevelopment.png" alt="">
                        </div>
                        <div class="card-title text-center mb-0 ">
                            <h5>App Development</h5>
                            <p>"Embark on a journey through my app development portfolio, where each project tells a story of innovation, problem-solving, and user engagement. From concept to deployment, witness how I bring ideas to life, leveraging my technical skills, creativity, and passion."</p>
                           <a href="https://www.geeksforgeeks.org/android-app-development-fundamentals-for-beginners/" target="_blank" > <button type="button" class="btn btn-primary">Learn More</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/web-development-vector-icon-symbol-creative-sign-from-seo-and-development-icons-collection-filled-flat-web-development-icon-for-computer-and-mobile-W9J4CY.jpg" alt="">
                        </div>
                        <div class="card-title text-center mb-5">
                            <h5>Web Development</h5>
                            <p>From startup websites to complex enterprise platforms, my web development services are designed to scale and adapt, ensuring every client's digital presence is both powerful and flexible.</p>
                            <a href="https://www.geeksforgeeks.org/web-development/" target="_blank"><button type="button" class="btn btn-primary">Learn More</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/abc.png" alt="">
                        </div>
                        <div class="card-title text-center mb-4">
                            <h5>Game Development</h5>
                            <p>Experience the art of game creation through my portfolio, where each project showcases my skills in building engaging environments, crafting compelling characters, and developing gameplay that entertains and excites.</p>
                           <a href="https://www.codecademy.com/learn/introduction-to-game-development" target="_blank"> <button type="button" class="btn btn-primary">Learn More</button></a>
                        </div>
                    </div>
                </div>
                
        <hr class="mt-5 mb-5">
        <div class="work_section">
            <h3>I'm proud to have collaborated with some awesome companies:</h3>
            <div class="row">
                <div class="col-6 col-md-4 col-lg-4 mt-5 ">
                   <a href="https://myclass.lpu.in/" target="_blank"> <img src="public/images/s1600-w250-133.jpeg" class="border" alt="" style="width: 150px; height:150px"></a>
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                     <a href="https://lpucolab438.examly.io/login" target="_blank"><img src="public/images/iamneoai_logo.jpg" class="border" alt="" style="width: 150px; height:150px"></a>
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                     <a href="https://pro.e-box.co.in/login" target="_blank"><img src="public/images/images.png" class="border" alt="" style="width: 200px; height:150px"></a>
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                     <a href="https://ums.lpu.in/lpuums/LoginNew.aspx" target="_blank"><img src="public/images/main-qimg-f4df5e4f7c62b10b02c8326c7a42eaea-pjlq.jpg" class="border" alt="" style="width: 250px; height:150px"></a>
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                     <a href="https://www.coursera.org/programs/cse408-design-analysis-and-algorithm-batch-7-rko07?currentTab=CATALOG&invitationToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbnZpdGF0aW9uSWQiOiJpZHc1RjNqZFF5NmNPUmQ0M2VNdTJnIiwiZXhwIjoiOTIyMzM3MjAzNjg1NDc3NTgwNyIsImp0aSI6ImlkdzVGM2pkUXk2Y09SZDQzZU11MmcifQ.U12X0CZzNgibQLkmaW6T3LLAUbi-I6MP5SyKRf2AjuI&organization=lpu&utm_campaign=programId%3AaIJ7leOGRiKCe5XjhrYitw%3BcreatedAt%3A1704815148992%3Binvitation&utm_medium=email&utm_source=other" target="_blank"><img src="public/images/courseera.png" class="border" alt="" style="width: 150px; height:150px"></a>
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                     <a href="https://lpulive.lpu.in/lpu-demo1/messages/4396718" target="_blank"><img src="public/images/lpulive.png" class="border" alt="" style="width: 150px; height:150px"></a>
                </div>
            </div>
        </div>
        <hr class="mt-5 mb-5">

        <div class="contact_us" id="contact">
            <form method="POST" action="/contactdata">
                <h2 class="text-center">Contact Me</h2>
                <p class="text-center">Contact for Any Help</p>
                <div class="mb-3">
                    <label for="username" class="form-label">User name </label>
                    <input name="user" type="text" class="form-control" id="username">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="" class="mb-2">Type your message here...</label>
                    <div class="form-floating">
                        <textarea name="msg" class="form-control" placeholder="Leave a comment here"
                            id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                    </div>
                </div>
                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="footer bg-light" id="about">
            <img src="public/images/unnamed.jpg" alt="logo" style="width: 100px; height:100px">

            <h3>Living, learning, & leveling up one day at a time.</h3>

            <div class="social_icons">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://github.com/Krishraj111" target="_blank"><i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/krish-raj-34a803252/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>
                Handcrafted by me © twentytwentyfour2024</p>
        </div>
    </div>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>